{% extends "MealieApp/layout.html" %}
{% block body %}
    <script type="text/javascript">
        //var food_db = JSON.parse('{{ food_db_json|safe }}')
    </script>
    <div class="input-group flex-nowrap">
        <div class="input-group">
            <span class="input-group-text">Name of Food Item</span>
            <input required type="text" class="form-control col-3" id="food-name" placeholder="Baked Potato"/>
        </div>
        <div class="input-group">
            <span class="input-group-text">Serving Size</span>
            <input required type="text" class="form-control col-3" id="food-serving-size" placeholder="1 potato"/>
        </div>
        <div class="input-group">
            <span class="input-group-text"><strong>Calories</strong></span>
            <input type="number" min="0" value="0" id="food-calories">
        </div>
    </div>
    <div>
        <div class="input-group col-5 w-100">
            <span class="input-group-text">Total Fat (%DV)</span>
            <input type="number" min="0" value="0" id="food-total-fat-dv">
        </div>
        <div class="input-group">
            <span class="input-group-text">Saturated Fat (%DV)</span>
            <input type="number" min="0" value="0" id="food-saturated-fat-dv">
        </div>
        <div class="input-group">
            <span class="input-group-text">Trans Fat (%DV)</span>
            <input type="number" min="0" value="0" id="food-trans-fat-dv">
        </div>
        <div class="input-group">
            <span class="input-group-text">Cholesterol (%DV)</span>
            <input type="number" min="0" value="0" id="food-cholesterol-dv">
            <span class="input-group-text">Sodium (%DV)</span>
            <input type="number" min="0" value="0" id="food-sodium-dv">
            <span class="input-group-text">Total Carbohydrates (%DV)</span>
            <input type="number" min="0" value="0" id="food-total-carbohydrates-dv">
        </div>
        <div class="input-group">
            <span class="input-group-text">Dietary Fiber (%DV)</span>
            <input type="number" min="0" value="0" id="food-dietary-fiber-dv">
            <span class="input-group-text">Total Sugars</span>
            <input type="number" min="0" value="0" id="food-total-sugars">
            <span class="input-group-text">Added Sugars (%DV)</span>
            <input type="number" min="0" value="0" id="food-added-sugars-dv">
        </div>
        <div class="input-group">
            <span class="input-group-text">Protein</span>
            <input type="number" min="0" value="0" id="food-protein">
            <span class="input-group-text">Vitamin D (%DV)</span>
            <input type="number" min="0" value="0" id="food-vitamin-d-dv">
            <span class="input-group-text">Calcium (%DV)</span>
            <input type="number" min="0" value="0" id="food-calcium-dv">
        </div>
        <div class="input-group">
            <span class="input-group-text">Iron (%DV)</span>
            <input type="number" min="0" value="0" id="food-iron-dv">
            <span class="input-group-text">Potassium (%DV)</span>
            <input type="number" min="0" value="0" id="food-potassium-dv">
        </div>
    </div>
{% endblock %}