{% extends "MealieApp/layout.html" %}
{% block body %}
    <div>
        <p>Hello, {{ user_name }}!</p>
        <p>Choose what to do:</p>
        <ul>
            <li><a href="{% url 'Mealie:view-journal-today' %}">View today's journal entry</a></li>
            <li><a href="{% url 'Mealie:index' %}">View another day's journal entry</a></li>
            <li><a href="{% url 'Mealie:view-food-db' %}">View the food database</a></li>
            <li><a href="{% url 'Mealie:add-food-form' %}">Add a new food item</a></li>
        </ul>
    </div>
    {% if request.user.is_superuser %}
        <hr>
        <div>
            <h2>Experimental Section (Superuser-only)</h2>
            <ul>
                <li><a href="{% url 'Mealie:experimental/playground' %}">Code Playground</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}