{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% if script_src %}
            <script src="{% static script_src %}"></script>
        {% endif %}
    </head>
    <body>
        <h1>{{ title }}</h1>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
    {% if request.path != "/mealie/" %}
        <footer>
            <hr>
            <a href="{% url 'Mealie:index' %}">Return to the Mealie Index</a>
        </footer>
    {% endif %}
</html>