{% extends 'MealieApp/layout.html' %}
{% block body %}
<div>
    {% if entries|length > 0 %}
        <ol>
        {% for entry in entries %}
            <li>{{ entry }}</li>
        {% endfor %}
        </ol>
    {% else %}
        <p>No entries.</p>
    {% endif %}
    <hr>
    <h5>Add a new journal entry for today:</h4>
    <form action="{% url 'Mealie:view-journal-today' %}" method="POST">
        {% csrf_token %}
        <label for="food-item">Choose a food item to add:</label>
        <div>
            <select name="food-item" id="food-item">
                {% for food in food_names %}
                    <option value="{{ food.name }}">{{ food.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group col-6 pt-2">
            <span class="input-group-text col-sm-3 col-md-3 col-lg-1">Quantity</span>
            <input required class="col-md-1 col-sm-3" type="number" min="0.25" value="0" id="food-quantity" name="food-quantity" step="0.25"/>
        </div>
        <div class="pt-3 col-3 row">
            <button type="submit" id="food-item-submit">Add Item</button>
        </div>
    </form>
</div>
{% endblock %}