{% extends 'MealieApp/layout.html' %}
{% load mealie_tags %}
{% block body %}
<div>
    {% if entries_qs|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                {% for table_header in table_headers %}
                    <th scope="col">{{ table_header.verbose_name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for entry in entries_qs %}
                <tr>
                    <td>{{ entry.food_item.name }}</td>
                    <td>{{ entry.quantity }}
                    {% for field in nutritional_columns %}
                        <td id="food-item-{{entry.id}}-{{field.name}}">{{ entry.food_item|get_obj_attr:field.name|multiply:entry.quantity }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    <td><strong>Totals</strong></td>
                    <td></td>
                    {% for field in nutritional_columns %}
                        <td id="food-item-total-{{field.name}}">{{ totals|get_dict_key:field.name }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>No entries.</p>
    {% endif %}
    <hr>
    <h5>Add a new journal entry for today:</h4>
    <form action="{% url 'Mealie:view-journal-today' %}" method="POST">
        {% csrf_token %}
        <label for="food-item">Choose a food item to add:</label>
        <div>
            <select name="food-item" id="food-item">
                {% for food in food_names %}
                    <option value="{{ food.name }}">{{ food.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group col-6 pt-2">
            <span class="input-group-text col-sm-3 col-md-3 col-lg-1">Quantity</span>
            <input required class="col-md-1 col-sm-3" type="number" min="0.25" value="0" id="food-quantity" name="food-quantity" step="0.25"/>
        </div>
        <div class="pt-3 col-3 row">
            <button type="submit" id="food-item-submit">Add Item</button>
        </div>
    </form>
</div>
{% endblock %}